*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    margin-left: 20px;
}
.hr{
    align-items: center;
    display: block;
    justify-content: center;
    margin: auto 0;
   
}
a{
    text-decoration: none;
    list-style: none;
    color: green;
    font-size: 20px;
    font-weight: 700;
}
.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
.App {
    text-align: center;
    height: 700px;
}
.btn{
    width: 150px;
    display: flex;
    justify-content: end;
    transition: all ease  1s;
    border: none;
    
    
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.rotate{
    transition: all ease 1s;
    transform: translateX(-35px);
}
.rotate2{
    transform: translate(35px);
    transition: all ease 1s;
}
.start {
    justify-content: start;
    background-color: #2b1b1b;
     
}
.end {
    justify-content: end;
    background-color: #c5bbbb;
}
.light{
    background-color: #c5bbbb;
    color: black;
}
.dark{
    background-color: black ;
    color: white;
}
.btn{
    margin: 0 auto;
}
